/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --border-size: 1px;

  /* --primary-color: hsla(160, 100%, 37%, 1);
  --primary-color-hover: hsla(160, 100%, 37%, 0.2);
  --primary-color-focus: hsla(160, 100%, 37%, 0.1);
  --primary-color-unfocused: hsla(160, 100%, 37%, 0.7); */
  /* #8a2be2 */
  /* --primary-color: rgba(253, 253, 150, 1);
  --primary-color-hover: rgba(253, 253, 150, 0.2);
  --primary-color-focus: rgba(253, 253, 150, 0.1);
  --primary-color-unfocused: rgba(253, 253, 150, 0.7); */

  --primary-color: rgba(138, 43, 226, 1);
  --primary-color-hover: rgba(138, 43, 226, 0.2);
  --primary-color-focus: rgba(138, 43, 226, 0.1);
  --primary-color-unfocused: rgba(138, 43, 226, 0.7);

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --background-color: var(--vt-c-white);
  --background-color-soft: var(--vt-c-white-soft);
  --background-color-mute: var(--vt-c-white-mute);

  --border-color: var(--vt-c-divider-light-2);
  --border-color-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --text-color: var(--vt-c-text-light-1);

  --outline-color: rgba(44, 44, 44, 0.8);
  --section-gap: 160px;
  --border-radius: 5px;

  --font-family: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--vt-c-black);
    --background-color-soft: var(--vt-c-black-soft);
    --background-color-mute: var(--vt-c-black-mute);

    --border-color: var(--vt-c-divider-dark-2);
    --border-color-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --text-color: var(--vt-c-text-dark-2);

    --outline-color: rgba(240, 240, 240, 0.8);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* *:focus-visible {
  outline-width: 2px;
  outline-color: var(--primary-color);
  outline-style: solid;
} */

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--background-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  /* font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif; */
  font-family: var(--font-family);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.free-floating-button {
  border: none;
  color: var(--text-color);
  background: none;
  transition: all 0.4s;
  cursor: pointer;
  font-family: var(--font-family);
  opacity: 0.7;
}

.free-floating-button:hover {
  opacity: 1;
}

.center {
  max-width: fit-content;
  margin: auto;
}
